<div >



	<p><%=@booking.created_at%></p>
	<p><%=link_to Property.find(@booking.property_id).name+" , "+Property.find(@booking.property_id).city,property_url(:id=>@booking.property_id)%></p>

	<p><%=@booking.from%></p>
	<p><%=@booking.to%></p>
	<p><%=@booking.no_guest%></p>
</div>
